@charset "utf-8";
.photo-swipe-wrap {position:fixed; top:0; left:0; width:100%; height:100%; z-index:1000; background-color:#333; overflow:hidden;}
.photo-swipe-number { height:30px; line-height:30px; width:100%; background-color:rgba(0, 0, 0, 0.7); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); text-align:center; color:#fff;}
.photo-swipe-btn {height:40px; line-height:40px; border-top:1px solid #343332; position:fixed; z-index:1111; bottom:0; left:0; width:100%;
	background: #131413;
	background: -webkit-gradient(linear, left top, left bottom, from(#242524), to(#010202));
	background: -moz-linear-gradient(top,  #242524,  #010202);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#242524', endColorstr='#010202');
}
.photo-swipe-pic {position:relative; z-index:998}
.photo-swipe-pic div p {text-align:center;display:table-cell;vertical-align:middle;}
.photo-swipe-pic div img { max-height:100%; max-width:100%; vertical-align:middle}
.photo-swipe-btn span {display:inline-block; width:20%; margin:0 2%; height:50px; text-align:center; padding-top:3px}
.photo-swipe-btn span i {display:inline-block; width:20px; height:20px; background:url(http://f1.yihuimg.com/concat/mobile/widget/pufferSlider/1.0/images/pufferSlider-icons.png) no-repeat}
.photo-swipe-btn span.exit i {background-position:-12px -12px}
.photo-swipe-btn span.play i {background-position:-100px -12px}
.photo-swipe-btn span.play.on i {background-position:-192px -12px}
.photo-swipe-btn span.prev i {background-position:-56px -12px}
.photo-swipe-btn span.next i {background-position:-144px -12px}
.demo-wrap {
    max-width: 1200px;
    padding: 50px 0;
    _width: expression(this.scrollWidth<1200?"auto":"1200px");
}
pre{ padding:10px; background: #f3f3f3; color:green}
.demo-title {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: 48px;
    margin-bottom: 20px;
	font-weight:700;
}

.demo-head {
    margin: 20px 0
}

.demo-head-title {
    margin: 10px 0
}
.pic-list-one li {float:left; margin-left:20px; margin-bottom:20px;list-style: none;}