<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>组件</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="example-6">
			<currency-input v-model="price"></currency-input>
		</div>
		<script>
			Vue.component('currency-input',{
				template: '<span>$<input ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)" /></span>',
				props: ['value'],
				methods: {
					updateValue: function(value){
						var formattedValue = value.trim()
						.slice(0,
						value.indexOf('.') === -1 ? value.length : value.indexOf('.') + 3
						)
						if(formattedValue !== value){
							this.$refs.input.value = formattedValue
						}
						this.$emit('input',Number(formattedValue))
					}
				}
			})
			new Vue({
				el: '#example-6'
			})
		</script>
		
		<div id="example-5">
			<p>{{ total }}</p>
			<button-counter v-on:increment="incrementTotal"></button-counter>
			<button-counter v-on:increment="incrementTotal"></button-counter>
		</div>
		<script>
			Vue.component('button-counter',{
				template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
				data: function(){
					return {
						counter: 0
					}
				},
				methods: {
					incrementCounter: function(){
						this.counter += 1;
						this.$emit('increment');
					}
				}
			})
			new Vue({
				el: '#example-5',
				data: {
					total: 0
				},
				methods: {
					incrementTotal: function(){
						this.total += 1
					}
				}
			})
		</script>
		
		<div id="example-4">
			<input v-model="parentMsg" />
			<br />
			<child :my-message="parentMsg"></child>
		</div>		
		<script>
			new Vue({
				el:'#example-4',
				data:{
					parentMsg:'message from parent'
				},
				components:{
					child:{
						props:['myMessage'],
						template:'<span>{{ myMessage }}</span>'
					}
				}
			})
		</script>
		
		<div id="example-3">
			<child message="hello"></child>
		</div>
		<script>
			Vue.component('child',{
				props:['message'],
				template:'<span>{{message}}</span>'
			})
			new Vue({
				el:'#example-3'
			})
		</script>
		
		<div id="example-2">
			<simple-counter></simple-counter>
			<simple-counter></simple-counter>
			<simple-counter></simple-counter>
		</div>
		<script>
			Vue.component('simple-counter',{
				template:'<button v-on:click="counter += 1">{{counter}}</button>',
				data:function(){
					return {
						counter:0
					}
				}
			})
			new Vue({
				el:'#example-2'
			})
		</script>
		
		<div id="example-1">
			<my-component></my-component>
		</div>
		<script>
			var Child = {
				template: '<div>1 A custom componet!</div>'
			}
			new Vue({
				el: '#example-1',
				components: {
					'my-component': Child
				}
			})
		</script>
		
		<div id="example">
			<my-component></my-component>
		</div>
		<script>
			Vue.component('my-component',{
				template: '<div>A custom component!</div>'
			});
			new Vue({
				el: '#example'
			})
		</script>
	</body>
</html>
