<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Learning</title>
	<style>
		div {
			margin: 20px;
			padding: 10px;
			border: 1px solid #ccc;
		}
	</style>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		{{ message }}
	</div>
	<div id="app-2">
		<span v-bind:title="message">
			悬停鼠标查看title提示！
		</span>
	</div>
	<div id="app-3">
		<p v-if="seen">现在是显示的</p>
	</div>

	<script>
		var app = new Vue({
			el: "#app",
			data: {
				message: "Hello vue!",
			}
		});

		var app2 = new Vue({
			el: "#app-2",
			data: {
				message:'页面加载于' + new Date().toLocaleString(),
			}
		});

		var app3 = new Vue({
			el: "#app-3",
			data: {
				seen: true,
			}
		});
	</script>


	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>
	<script>
		var app4 = new Vue({
			el: "#app-4",
			data: {
				todos: [
					{text: "学习javascript"},
					{text: "学习Vue"},
					{text: '整个项目'},	
				]
			}
		});
	</script>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>
	<script>
		var app5 = new Vue({
			el: "#app-5",
			data: {
				message: "Hellow WWP!",
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('');
				}
			}
		});
	</script>

	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
	<script>
		var app6 = new Vue({
			el: "#app-6",
			data: {
				message: 'hello world!',
			}
		});
	</script>

	<ol id="app-7">
		<todo-item
			v-for="item in groceryList"
			v-bind:todo="item"
			v-bind:key="item.id"
		></todo-item>
	</ol>
	<script>
		Vue.component('todo-item', {
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>',
		});
		var app7 = new Vue({
			el: '#app-7',
			data: {
				groceryList: [
					{id: 0, text: '蔬菜'},
					{id: 1, text: '奶酪'},
					{id: 2, text: '其他东西'}
				],
			},
		});
	</script>
	<div id="app-8">
		<p>Using mustaches: {{ rawHtml }}</p>
		<p>Using v-html directive: <span v-html="rawHtml"></span></p>
	</div>
	<script>
		var app8 = new Vue({
			el: "#app-8",
			data: {
				rawHtml: '<span style="color: red;">This should be red</span>',
			}
		});
	</script>
	<div id="app-9">
		<button v-bind:disabled="isButtonDisabled">button</button>
	</div>
	<script>
		var app9 = new Vue({
			el: '#app-9',
			data: {
				isButtonDisabled: true,
			}
		});
	</script>

	<ul id="app-10">
	<!-- 	<li v-for="n in evenNumbers">
			{{ n }}
		</li>
 -->		<li v-for="n in evenNumbersMethod(numbers)">
			{{ n }}
		</li>
	</ul>
	<script>
		var app10 = new Vue({
			el: '#app-10',
			data: {
				numbers: [1,2,3,4,5],
			},
			computed: {
				evenNumbers: function() {
					return this.numbers.filter(function(number) {
						return number % 2 == 0;
					});
				}
			},
			methods: {
				evenNumbersMethod: function(numbers) {
					return numbers.filter(function(number){
						return number % 2 === 0;
					});
				}
			}
		});
	</script>

	<div id="demo">
		<h1 v-if="ok">yes</h1>
		<h1 v-else>no</h1>

		<template v-if="ok">
			<h1>Title</h1>
			<p>Paragraph 1</p>
			<p>Paragraph 2</p>
		</template>
		<div v-if="Math.random() > 0.5">
			Now you see me
		</div>
		<div v-else-if="Math.random() > 0.5">you see the second</div>
		<div v-else>Now you don't</div>
	</div>
	<script>
		var demo = new Vue({
			el: '#demo',
			data: {
				ok: true,
			}
		});
	</script>
	
	<div id="demo-1">
		<template v-if="loginType === 'username'">
			<label >Username</label>
			<input type="text" placeholder="Enter your username">
		</template>
		<template v-else>
			<label >Email</label>
			<input type="text" placeholder="Enter your Email">
		</template>
		<button @click="toggleType" >Toggle login type</button>
		</br></br>
		<template v-if="loginTypeKey === 'username'">
			<label >Username</label>
			<input type="text" placeholder="Enter your username" key='username-input'>
		</template>
		<template v-else>
			<label >Email</label>
			<input type="text" placeholder="Enter your Email" key='email-input'>
		</template>
		<button @click="toggleTypeKey" >Toggle login type</button>
		</br></br>
		<p v-show="ok">v-show</p>
	</div>
	<script>
		var demo1 = new Vue({
			el: '#demo-1',
			data: {
				ok:true,
				loginType:'username',
				loginTypeKey:'username',
			},
			methods: {
				toggleType: function() {
					if(this.loginType === '') {
						this.loginType = 'username';
					}
					else {
						this.loginType = '';
					}
				},
				toggleTypeKey: function() {
					if(this.loginTypeKey === '') {
						this.loginTypeKey = 'username';
					}
					else {
						this.loginTypeKey = '';
					}
				}
			}
		});
	</script>
	
	<ul id="demo-2">
		<li v-for="item in items">
			{{ item.message }}
		</li>
		<li v-for="(item, index) of items">
			{{ parentMessage }} - {{ index }} - {{ item.message }}
		</li>
		<button @click="changeSecond">changeSecond</button>
		<button @click="changeLength">changeLength</button>
	</ul>
	<script>
		var demo2 = new Vue({
			el: '#demo-2',
			data: {
				parentMessage: 'parent',
				items: [{message:'Foo'}, {message: 'Bar'},{message:'John'}],
			},
			methods: {
				changeSecond: function() {
					//改变数组的值不能通过  this.items[1] = newValue
					//因为Vue不能检测到变化，需要通过Vue.set()方法
					//改变数组长度不能通过.length
					if(this.items[1].message == 'Bar'){
						Vue.set(this.items, 1, {message: 'ChangeSecond'});
					}
					else {
						Vue.set(this.items, 1, {message: 'Bar'});
					}
				},
				changeLength: function() {
					this.items.splice(1);
				}
			}
		});
	</script>
	
	<ul id="demo-3">
		<li v-for="value in object">
			{{ value }}
		</li>
		<li v-for="(value,key) in object">
			{{ key + ' ' + value}}
		</li>
	</ul>
	<script>
		var demo3 = new Vue({
			el: '#demo-3',
			data: {
				object: {
					firstName: 'John',
					lastName: 'Doe',
					age: 30,
				}
			}
		});
	</script>

	<div id="demo-4">
		<p v-for="(value,key) in userProfile">{{ key+':'+value }}</p>
		<input type="text" v-model='newKey'>
		<input type="text" v-model='newValue'>
		<button v-on:click="addNewBySet">addNewBySet</button>
		<button v-on:click="addNewByAssign">addNewByAssign</button>
	</div>
	<script>
		var demo4 = new Vue({
			el: '#demo-4',
			data: {
				newKey:'',
				newValue:'',
				userProfile: {
					name: 'Anika',
					weight: '55kg',
				}
			},
			methods: {
				addNewBySet: function() {
					// Vue.set(this.userProfile, this.newKey, this.newValue);
					this.$set(this.userProfile, this.newKey, this.newValue);
					this.newKey = '';
					this.newValue = '';
				},
				addNewByAssign: function() {
					// Object.assign(this.userProfile, {[this.newKey]:this.newValue,age:23});
					this.userProfile = Object.assign({}, this.userProfile, {[this.newKey]:this.newValue});
					this.newKey = '';
					this.newValue = '';
				}
			}
		});
	</script>
	
	<ul id="demo-5">
		even:</br>
		<li v-for="num in evenNumbers">{{ num }}</li>
		odd:</br>
		<li v-for="num in odd(numbers)"> {{ num }} </li>
		</br>
		<!-- <li v-for="num in 10">{{ num }}</li> -->
		<template v-for="item in items">
			<li>{{ item.msg }}</li>
		</template>
	</ul>
	<script>
		var demo5 = new Vue({
			el: '#demo-5',
			data: {
				numbers: [1,2,3,4,5],
				items: [{msg:'msg1'},{msg:'msg2'},{msg:'msg2'}]
			},
			computed: {
				evenNumbers: function() {
					return this.numbers.filter(function(val){
						return val % 2 === 0;
					});
				}
			},
			methods: {
				odd: function() {
					return this.numbers.filter(function(val){
						return val % 2 !== 0;
					});
				}
			}
		});
	</script>

	<div id="demo-6">
		<ul>
			<li v-for="todo in todos" v-if="!todo.isComplete">
				{{ todo }}
			</li>
		</ul>
		<ul v-if="Math.random() > 0.5">
			<li v-for="todo in todos">
				{{ todo }}
			</li>	
		</ul>
	</div>
	<script>
		var demo6 = new Vue({
			el: '#demo-6',
			data: {
				todos: [{isComplete:'xxx'},{isComplete:false},{isComplete:''},{isComplete:12}]
			}
		});
	</script>

	<div id="demo-7">
		<input type="text"
		 v-model="newTodoText"
		 @keyup.enter="addNewTodo"
		 placeholder="Add a todo"
		 >
		<ul>
			<li is="todo-item"
				v-for="(todo,index) in todos"
				v-bind:key="todo.id"
				v-bind:title="todo.title"
				v-on:remove="todos.splice(index, 1)"
			>
			</li>
		</ul>
	</div>
	<script>
		Vue.component('todo-item', {
			template: '\
				<li>\
					{{ title }}\
					<button v-on:click="$emit(\'remove\')">X</button>\
				</li>\
			',
			props: ['title'],
		});

		var demo7 = new Vue({
			el: '#demo-7',
			data: {
				newTodoText:'',
				todos: [
					{id:1, title:'Do the dishes'},
					{id:2, title:'Take out the trash'},
					{id:3, title:'Mow the lawn'}
				],
				nextTodoId: 4,
			},
			methods: {
				addNewTodo: function() {
					this.todos.push({id:this.nextTodoId++, title:this.newTodoText});
					this.newTodoText = '';
				},
			}
		});
	</script>
	
	<div id="example">
		<button v-on:click="counter ++">add</button>
		<p>The button above has been clicked {{ counter }} times</p>
	</div>
	<script>
		var example = new Vue({
			el: '#example',
			data: {
				counter: 0,
			}
		});
	</script>
	<div id="example-1">
		<button v-on:click="great">Great</button>
	</div>
	<script>
		var example1 = new Vue({
			el: '#example-1',
			data: {
				name: 'Vue.js',
			},
			methods: {
				great: function(event){
					alert('Hello' + this.name + '!');
					if(event) {
						alert(event.target.tagName);
					}
				}
			}
		});
	</script>
	<div id="example-2">
		<button v-on:click="say('hi')">sayHi</button>
		<button v-on:click="say('what')">sayWhat</button>
	</div>
	<script>
		var example2 = new Vue({
			el: '#example-2',
			methods: {
				say: function(message) {
					alert(message);
				}
			}
		});
	</script>

	<div id="example-3">
		<a href="#" v-on:click="warn('Can not link to this URL', $event)" >clickHear</a>
		<a href="#" v-on:click.prevent="warn('Use Vue\'s prevent')" >clickHearVue'sPrevent</a>
		<button v-on:click.prevent.self="warn('Click Parent,Prevent children Default')" >clickParent
			 <a href="####" v-on:click="warn('Inner Click')">InnerURL</a>
		</button>
		<button v-on:click.once="warn('AlertOnce')" >AlertOnce</button>
		</br>
		<input type="text" v-model="message" v-on:keyup.enter="submit"
			v-on:keyup.page-down="onPageDown"
		>
		<input type="text"  v-model="message1" v-on:keyup.shift.delete="clearAll('message1')">
		<input type="text"  v-model="message2" v-on:keyup.shift.delete.exact="clearAll('message2')">
		<button v-on:click.right="warn('mouse right')">Click</button>
	</div>
	<script>
		var example3 = new Vue({
			el: '#example-3',
			data: {
				message:'',
				message1:'',
				message2:'',
			},
			methods: {
				warn: function(message, event) {
					if(event) event.preventDefault();
					alert(message);
				},
				submit: function() {
					alert('submit' + this.message);
					this.message='';
				},
				onPageDown: function() {
					alert('press pagedown');
				},
				clearAll: function(prop) {
					this[prop]='';
				}
			},

		});
	</script>
</body>
</html>